<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EmailToHttp</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }
        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 30px;
        }
        ul {
            padding:0;
            margin:0;
        }
        li {
            list-style:none;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <span style="font-size: 32px;font-weight: bold;">Mail To Http Configuration</span>
            </el-header>
            <el-container>
            <el-main>
                <div v-if="!passwordInput" id="passwdidv">
                    <el-form :inline="true" style="text-align: center;">
                        <el-form-item label="Enter Password">
                            <el-input v-model="passwordText" show-password></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="login">Login</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <div v-else>
                    <el-row>
                        <el-col :span="16">Service Status: <span v-if="status==='stopped'" style="color:red;">{{status}}</span><span v-if="status==='running'" style="color:green">{{status}}</span></el-col>
                        <el-col :span="4" style="text-align:right;"><el-button type="primary" @click="configDivShow=true">Config Service</el-button></el-col>
                        <el-col :span="4" style="text-align:right;"><el-button type="danger" @click="serviceAction">{{btnServiceTest}}</el-button></el-col>
                    </el-row>
                </div>
                <div v-show="configDivShow" id="configDiv" style="width:600px;margin:0 auto;">
                    <el-steps :active="active" finish-status="success">
                        <el-step title="Email Settings"></el-step>
                        <el-step title="Content Patterns"></el-step>
                        <el-step title="Http Settings"></el-step>
                    </el-steps>
                    <el-card v-show="showEmail">
                        <div slot="header">
                            <span>Email Settings</span>
                        </div>
                        <el-form label-width="120px" label-position="left">
                            <el-form-item label="IMAP Address">
                                <el-input v-model="emailSettings.imapAddress" placeholder="imap.gmail.com"></el-input>
                            </el-form-item>
                            <el-form-item label="IMAP Port">
                                <el-input type="number" v-model.number="emailSettings.imapPort" placeholder="0"></el-input>
                            </el-form-item>
                            <el-form-item label="Email">
                                <el-input v-model="emailSettings.email" placeholder="test@test.com"></el-input>
                            </el-form-item>
                            <el-form-item label="Password">
                                <el-input v-model="emailSettings.password" show-password></el-input>
                            </el-form-item>
                            <el-form-item label="Folder">
                                <el-input v-model="emailSettings.folder"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-card> 
                    <el-card v-show="showContent">
                        <div slot="header">
                            <span>Content Pattern</span>
                            <el-button style="float: right; padding: 3px 0" type="text" @click="addPattern">Add Pattern</el-button>
                        </div>
                        <template v-for="(item, index) in contentPatterns">
                            <el-card>
                                <div slot="header">
                                    <el-button style="float: right; padding:0 0;" type="text" @click="deletePattern(index)">Delete</el-button>
                                </div>
                                <el-form label-width="80px">
                                    <el-form-item label="Param">
                                        <el-input v-model="item.param"></el-input>
                                    </el-form-item>
                                    <el-form-item label="Regex">
                                        <el-input v-model="item.regex"></el-input>
                                    </el-form-item>
                                </el-form>
                            </el-card>
                        </template>
                    </el-card>
                    <el-card v-show="showHttp">
                        <div slot="header">
                            <span>HTTP Settings</span>
                        </div>
                        <el-form label-width="120px" label-position="left">
                            <el-form-item label="Callback URL">
                                <el-input v-model="callbackUrl" placeholder="https://test.com/callback"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-card>
                    <div style="width:100%;height:20px;"></div>
                    <el-row v-if="active === 1">
                        <el-col :span="12">
                            <el-button type="primary" @click="showPre">Pre Step</el-button>
                        </el-col>
                         <el-col :span="12" style="text-align: right;">
                            <el-button type="primary" @click="showNext">Next Step</el-button>
                        </el-col>
                    </el-row>
                    <el-row v-if="active === 0">
                        <el-col :span="12">
                            <!--<el-button type="primary" @click="showPre">Pre Step</el-button>-->&nbsp;
                        </el-col>
                         <el-col :span="12" style="text-align: right;">
                            <el-button type="primary" @click="showNext">Next Step</el-button>
                        </el-col>
                    </el-row>
                    <el-row v-if="active === 2">
                        <el-col :span="12">
                            <el-button type="primary" @click="showPre">Pre Step</el-button>
                        </el-col>
                         <el-col :span="12" style="text-align: right;">
                            <el-button type="primary" @click="configDivShow = false">Done</el-button>
                        </el-col>
                    </el-row>
                </div>
            </el-main>
            </el-contianer>
        </el-container>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return { 
                passwordText: '' ,
                passwordInput: false,
                configDivShow: false,
                emailSettings: {
                    imapAddress: '',
                    imapPort: 993,
                    email: '',
                    password: '',
                    folder: ''
                },
                contentPatterns: [],
                callbackUrl: '',
                status: 'stopped',
                websocket: null,
                showEmail: false,
                showContent: false,
                showHttp: false,
                active: 0,
                showMap: {
                    0: 'email',
                    1: 'content',
                    2: 'http'
                }
            }
        },
        computed: {
            btnServiceTest: function(){
                if(this.status === 'stopped') {
                    return 'Start Service'
                }
                return 'Stop Service'
            }
        },
        created() {
            this.initWebSocket()
        },
        methods: {
            showPre() {
                if(this.active > 0) {
                    this.active -= 1
                }
                this.show(this.showMap[this.active])
            },
            showNext() {
                if(this.active < 2) {
                    this.active += 1
                }
                this.show(this.showMap[this.active])
            },
            show(val) {
                this.showEmail = false
                this.showContent = false
                this.showHttp = false
                if(val === 'email') {
                    this.showEmail = true
                } else if (val === 'content') {
                    this.showContent = true 
                } else if (val === 'http') {
                    this.showHttp = true
                }
            },
            login() {
                var self = this
                var url = '/api/password/' + this.passwordText
                axios.get(url).then(function(resp){
                    console.log(resp)
                    if(resp.data.login === "ok"){
                        var config = resp.data.config
                        self.emailSettings = config.emailSettings
                        self.contentPatterns = config.contentPatterns
                        self.callbackUrl = config.callbackUrl
                        self.passwordInput = true
                        self.show('email')
                        var data = {
                            msg_type: 'status',
                            data: ''
                        }
                        self.wesocketSend(JSON.stringify(data))
                    }
                });
            },
            addPattern() {
                this.contentPatterns.push({
                    param: '',
                    regex:''
                })
            },
            deletePattern(index) {
                this.contentPatterns.splice(index, 1)
            },
            serviceAction() {
                if(this.status === 'stopped') {
                    this.startService()
                } else {
                    this.stopService()
                }
            },
            startService(){
                var body = {
                    emailSettings: this.emailSettings,
                    contentPatterns: this.contentPatterns,
                    CallbackUrl: this.callbackUrl
                }
                axios.post('/api/service/start', body).then(function(resp){
                    console.log(resp)
                })
            },
            stopService() {
                axios.get('/api/service/stop').then(function(resp){
                    console.log(resp)
                })
            },
            initWebSocket() {
                var url = 'ws://' + window.location.host + '/ws'
                this.websocket = new WebSocket(url)
                this.websocket.onmessage = this.websocketOnMessage
                this.websocket.onopen = this.websocketOnOpen
                this.websocket.onerror = this.websocketOnError
                this.websocket.onclose = this.websocketClose
            },
            websocketOnOpen() {
                console.log('websocket open')
            },
            websocketOnError() {
                console.log('websocket error')
                this.initWebSocket()
            },
            websocketOnMessage(e) {
                console.log('websocket message', e.data)
                let data = JSON.parse(e.data)
                console.log(data.msg_type)
                if(data.msg_type === 'status') {
                    this.status = data.data
                }
            },
            wesocketSend(data) {
                this.websocket.send(data)
            },
            websocketClose(e) {
                console.log('websocket close', e)
            }
        },
    })
</script>
</html>